/* © 2016 SIEMENS PRODUCT LIFECYCLE MANAGEMENT SOFTWARE INC */

.progressBox {
	display: none;
	position: relative;
	top: 0;
	left: 0;
}

.progressBar {
	height: 100%;
	width: 50%;
	position: absolute;
	top: 0;
	left: 0;
}

.progressText {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
}
